<ion-header>
  <ion-toolbar>
    <ion-item>
    <ion-buttons left>
      <ion-button [routerLink]="['/' + 'main']">
        <ion-icon name="home-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Future Lists</ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-badge color="primary">Next Days</ion-badge>
  <ion-scroll style="height: 200px">
    <ion-list>
      <div *ngFor="let list of shoppingListCollectionNextDays | async ">
        <ion-item [routerLink]="['/' + 'list-view' + '/' + list.id]">
          <ion-label>
            <h2>{{ list.name }}</h2>
            <p>{{getPrettyTimestamp(list.created)}}</p>
          </ion-label>
        </ion-item>
      </div>
    </ion-list>
  </ion-scroll>
</ion-content>
<ion-content>
  <ion-badge color="success">Next Week</ion-badge>
  <ion-scroll style="height: 200px">
    <ion-list>
      <div *ngFor="let list of shoppingListCollectionNextWeek | async ">
        <ion-item [routerLink]="['/' + 'list-view' + '/' + list.id]">
          <ion-label>
            <h2>{{ list.name }}</h2>
            <p>{{getPrettyTimestamp(list.created)}}</p>
          </ion-label>
        </ion-item>
      </div>
    </ion-list>
  </ion-scroll>
</ion-content>
<ion-content>
  <ion-badge color="secondary">Following Weeks</ion-badge>
  <ion-scroll style="height: 200px">
    <ion-list>
      <div *ngFor="let list of shoppingListCollectionNextMonths | async ">
        <ion-item [routerLink]="['/' + 'list-view' + '/' + list.id]">
          <ion-label>
            <h2>{{ list.name }}</h2>
            <p>{{getPrettyTimestamp(list.created)}}</p>
          </ion-label>
        </ion-item>
      </div>
    </ion-list>
  </ion-scroll>
</ion-content>
