<ion-header>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <ion-toolbar>
    <ion-title class="ion-text-center">{{dayOfWeek}} {{dateToday}} {{currentMonth}}</ion-title>
  </ion-toolbar>
</ion-header>

<div>
  <ion-content>
    <!-- fab placed to the top end -->
    <!--  <ion-fab [routerLink]="['/' + 'list-view']" vertical="top" horizontal="end" slot="fixed">-->
    <ion-fab (click)="addListComp.createListAlert()" vertical="top" horizontal="end" slot="fixed">
      <ion-fab-button>
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-content>
</div>


<app-add-list #addListComp></app-add-list>

<ion-content>
<!--  <ion-item [routerLink]="['/' + 'list-view']">-->
<!--    <ion-icon name="add-circle-outline"></ion-icon>-->
<!--  </ion-item>-->
  <ion-button expand="block" [routerLink]="['/' + 'future-list' + '/' ]"> Future Lists</ion-button>
  <ion-scroll style="height: 200px">
  <ion-list>
    <div *ngFor="let list of shoppingListCollection | async ">
      <ion-item [routerLink]="['/' + 'list-view' + '/' + list.id]">
        <ion-label>
          <h2>{{ list.name }}</h2>
          <p>{{getPrettyTimestamp(list.created)}}</p>
        </ion-label>
      </ion-item>
    </div>
  </ion-list>
  </ion-scroll>
</ion-content>


