<div class="flex-container">
    <div>
        <ion-header>
            <ion-toolbar>
                <ion-item>
                    <ion-buttons left>
                        <ion-button [routerLink]="['/' + 'main']">
                            <ion-icon name="home-sharp"></ion-icon>
                        </ion-button>
                    </ion-buttons>
                    <ion-title>
                        <ion-label align="center">{{ShoppingListString}}</ion-label>
                    </ion-title>
                    <ion-buttons right>
                        <ion-button (click)="deleteList()">
                            <ion-icon name="trash-bin"></ion-icon>
                        </ion-button>
                    </ion-buttons>
                </ion-item>
            </ion-toolbar>
        </ion-header>
    </div>
    <div>
        <ion-card>
            <ionic-form>
                <ion-label>Add item : </ion-label>
                <ion-input type="text" [(ngModel)]="itemName" text-right id="input" (ionChange)="provideSimilarItems($event)"></ion-input>
                <ion-button expand="block" (click)="addItem()">
                    <ion-icon name="add-circle-sharp"></ion-icon>
                </ion-button>
            </ionic-form>
        </ion-card>
    </div>
    <div>
        <ion-card>
            <ion-item>
                <ion-label>Creation :</ion-label>
                <ion-chip color="tertiary">
                    <ion-datetime value={{dateCreated}} disabled></ion-datetime>
                </ion-chip>
            </ion-item>
            <ion-item>
                <ion-label>Date Due : </ion-label>
                <ion-chip color="tertiary">
<!--                    <ion-datetime value={{dateDue}} placeholder="Select Date"></ion-datetime>-->
                    <ion-datetime placeholder="Select Date" displayFormat="YYYY-MM-DD" min="{{minDate}}" max="{{maxDate}}" value={{dateDue}}
                        (ionChange)="updateDueDate($event)">
                    </ion-datetime>
                </ion-chip>
            </ion-item>
        </ion-card>
    </div>
    <div>
        <ion-content>
            <ion-scroll style="height: 50px">
                <ion-list>
<!--                    <div *ngFor="let suggestedItem of similarWordsArray ">-->
<!--                        <ion-item>-->
<!--                            <ion-label>-->
<!--                                <h2>{{ suggestedItem.itemName }}</h2>-->
<!--                            </ion-label>-->
<!--                        </ion-item>-->
<!--                    </div>-->
                </ion-list>
            </ion-scroll>
        </ion-content>
    </div>
</div>

<ion-content>
    <ion-scroll style="height: 200px">
        <ion-list>
            <div *ngFor="let item of itemsOfList | async ">
                <ion-item>
                    <ion-label>
                        <h2>{{ item.name }}</h2>
                    </ion-label>
                    <ion-checkbox color="secondary" (ionChange)="updateState($event, item.id)" checked="{{item.state === 0?false: true}}" slot="start"></ion-checkbox>
<!--                    <ion-checkbox color="secondary" (ionChange)="updateState($event, item.id)" checked="{{!!item.state}}" slot="start"></ion-checkbox>-->
                </ion-item>
            </div>
        </ion-list>
    </ion-scroll>
</ion-content>
